{{!
  Include the core content/section template.
}}
{{#testingsection}}
    <ul>{{/testingsection}}
    <li id="section-{{num}}"
        class="section course-section main {{#onlysummary}} section-summary {{/onlysummary}} clearfix
            {{#ishidden}} hidden {{/ishidden}} {{#iscurrent}} current {{/iscurrent}}
            {{#isstealth}} orphaned {{/isstealth}}"
        data-sectionid="{{num}}"
        data-sectionreturnid="{{sectionreturnid}}"
        data-for="section"
        data-id="{{id}}"
        data-number="{{num}}"
    >
        <div class="course-section-header d-flex"
             data-for="section_title"
             data-id="{{id}}"
             data-number="{{num}}"
        >
            {{#restrictionlock}}
                <div class="align-self-center ml-2">
                    {{#pix}}t/unlock, core{{/pix}}
                </div>
            {{/restrictionlock}}
            <div data-region="sectionbadges" class="sectionbadges d-flex align-items-center">
                {{$ core_courseformat/local/content/section/badges }}
                    {{> core_courseformat/local/content/section/badges }}
                {{/ core_courseformat/local/content/section/badges }}
            </div>
            {{#collapsemenu}}
                <div class="flex-fill d-flex justify-content-end mr-2 align-self-start mt-2">
                    <a
                            id="collapsesections"
                            class="section-collapsemenu"
                            href="#"
                            aria-expanded="true"
                            role="button"
                            data-toggle="toggleall"
                    >

                    </a>
                </div>
            {{/collapsemenu}}
            {{#controlmenu}}
                {{$ core_courseformat/local/content/section/controlmenu }}
                    {{> core_courseformat/local/content/section/controlmenu }}
                {{/ core_courseformat/local/content/section/controlmenu }}
            {{/controlmenu}}
        </div>

        {{$ format_btns/local/content/section/content }}
            {{> format_btns/local/content/section/content }}
        {{/ format_btns/local/content/section/content }}
    </li>
{{#testingsection}}</ul>{{/testingsection}}

{{#section}}
    {{#image_init_sectios}}
        <img src="{{{image_init_sectios}}}" class="w-100 m-5 border-radius"/>
    {{/image_init_sectios}}
{{/section}}

